{% extends "base.html" %}

{% block content %}

  <h1>Uusi äänestys</h1>

  <form method="post" action="{{base_path}}/aanestys">

    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" value="" type="text">
    </div>
    <div class="form-group">
      <label>Äänestys alkaa</label>
      <input class="form-control" value="pp.kk.vvvv" type="text">
    </div>
    <div class="form-group">
      <label>Äänestys loppuu</label>
      <input class="form-control" value="pp.kk.vvvv" type="text">
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea class="form-control">        
      </textarea>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Identifioitu äänestys      </label>
    </div>

      
      <h3>Vaihtoehdot</h3>


  <p>
    <a href="#" class="btn btn-success">Lisää ehdokas</a>
  </p>
      
    <button type="submit" class="btn btn-primary">Tallenna äänestys</button>
  </form>
    
{% endblock %}
