{% extends "base.html" %}

{% block content %}


  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
<h1>Äänestys: {{aanestys.nimi}}{{aanestys.id}}</h1>  
  
<h3>Vaihtoehdot</h3>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Ehdokas</th>
        <th>Tietoja</th>
      </tr>
    </thead>

    <tbody>
      {% for ehdokas in ehdokkaat %}
        <tr>
          <!--<td><a href="{{base_path}}/aanestys/{{aanestys.id}}">{{aanestys.nimi}}</td>-->
          <td>{{ehdokas.nimi}}</td>
          <td>{{ehdokas.kuvaus}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Uusi ehdokas</h3>

  <form method="post" action="{{base_path}}/uusi/{{aanestys.id}}/uusiehdokas/tallenna">

    <div class="form-group">
      <label>Nimi</label>
      <input name="nimi" class="form-control" value="{{attributes.nimi}}" type="text">
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea name="kuvaus" class="form-control">{{attributes.kuvaus}}        
      </textarea>
    </div>
    <div class="form-group">  
      <input name='aanestysid' value='{{aanestys.id}}' type='hidden'>
    </div>

<!--  <p>
    <a href="#" class="btn btn-success">Lopeta</a>
  </p>-->
      
    <button type="submit" class="btn btn-primary">Lisää ehdokas</button>
    <p>
        <a href="{{base_path}}" class="btn btn-success">Lopeta</a>
    </p>    
  </form>
    
{% endblock %}