{% extends "base.html" %}

{% block content %}

  <h1>Äänestys: {{aanestys.nimi}}</h1>
  
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
  
<form method="post" action="{{base_path}}/aanestys/{{aanestys.id}}/poista" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>  
<form method="get" action="{{base_path}}/aanestys/{{aanestys.id}}/muokkaa" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Muokkaa</button>
</form>  
  
<!--  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>-->
  
<h2>Kuvaus</h2>
  <p>
    {{aanestys.kuvaus}}
  </p>

<h3>Vaihtoehdot</h3>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Ehdokas</th>
        <th>Tietoja</th>
        <th>Aania</th>
      </tr>
    </thead>

    <tbody>
      {% for ehdokas in ehdokkaat %}
        <tr>
          <!--<td><a href="{{base_path}}/aanestys/{{aanestys.id}}">{{aanestys.nimi}}</td>-->
          <td>{{ehdokas.nimi}}</td>
          <td>{{ehdokas.kuvaus}}</td>
          <td>{{ehdokas.aania}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<h3>Aanestetty</h3>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Ehdokas</th>
        <th>Aanestetty</th>
      </tr>
    </thead>

    <tbody>
      {% for aani in aanet %}
        <tr>
          <td>{{aani.ehdokasnimi}}</td>
          <td>{{aani.aanestetty}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}